.footer {
  background-color: $text-dark-color;
  color: $light-gray-color;

  &__info {
    margin-bottom: 1rem;

    @include mQ(medium) {
      margin: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;

    @include mQ(medium) {
      padding: 2rem 4rem;
      height: 10vh;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__social {
    font-size: 3rem;
    color: $light-gray-color;
  }
}
