.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  text-align: center;
}

.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

.section-title {
  font-size: 2.5rem;
  margin: 3rem 0;

  @include mQ(medium) {
    font-size: 4rem;
    margin: 5rem 0;
  }
}

.article {
  width: 90%;
  margin: 0 auto 2rem;
  padding: 2rem;
  border: 1px solid $light-gray-color;
  transition: $transition;

  &:hover {
    background-color: $light-gray-color;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;

    @include mQ(medium) {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }

  &__text {
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: left;

    @include mQ(medium) {
      font-size: 2.4rem;
      line-height: 3rem;
    }
  }
}
